<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Agenda</title>
</head>
<body>
    <h1>Bem vindo(a) a Agenda</h1>
    <h3>Trata-se de uma agenda online</h3>
    <table>
        <thead>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>Telefone</td>
        </thead>
        {% if pessoas %}
        {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.sobrenome }}</td>
                <td>{{ pessoa.fone }}</td>
                <td><a href="delete/{{ pessoa.id }}">Deletar</a></td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <a href="inserir/"><p>Inserir</p></a>
</body>
</html>